* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #222;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}